.h-scroll {
  position: relative;
  height: 300vh;
  background: transparent;
}

.h-scroll-1 {
  position: sticky;
  top: 0;
  display: flex;
  height: auto;
  align-items: center;
  overflow: hidden;
}

.h-scroll-2 {
  display: flex;
  gap: 4px;
}
